<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VKMessenger.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F46DBE0621DD038900C1277A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F46DBE1A21DD038A00C1277A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F46DBE2521DD038A00C1277A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
